<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorCode" version="1.0.1" />
  <package id="Kiwi.Markdown" version="0.7.1" />
  <package id="MarkdownSharp" version="1.13.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="WebActivator" version="1.5" />
</packages>